$color-darkblue: #5a8ca1;
$color-blue: #bee4f4;
$color-lightergrey: #f9f6f7;
$color-lightgrey: #dedfe4;
$color-grey: #8e8b8c;
$color-darkgrey: #545253;
$color-white: #fff;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin-top: 0.25em;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 60vw;
    border-radius: 4px;
    border: 1px solid $color-lightgrey;
  }
}

button {
  border-radius: 10px;
  height: 3em;
  width: 40%;
  margin: 1em;
  background-color: $color-blue;
  border: 1px solid $color-darkblue;
  box-shadow: 8px 10px 8px -4px $color-lightgrey;
  padding: 0.5em;
  font-size: small;
}

.linkAsButton {
  border-radius: 10px;
  height: 3em;
  width: 40%;
  margin: 1em;
  background-color: $color-blue;
  box-shadow: 8px 10px 8px -4px $color-lightgrey;
  padding: 0.5em;
  font-size: small;
  text-decoration: none;
  color: inherit;
  font-size: small;
}

.bottom-linkAsButton {
  position: absolute;
  bottom: 3em;
  right: 1em;
  border-radius: 10px;
  height: 3em;
  width: 40%;
  margin: 1em;
  background-color: $color-blue;
  box-shadow: 8px 10px 8px -4px $color-lightgrey;
  padding: 0.5em;
  font-size: small;
  text-decoration: none;
  color: inherit;
  font-size: small;
}

.bottom-button {
  border-radius: 10px;
  border: 1px solid $color-darkblue;
  background-color: $color-blue;
  width: 40%;
  position: absolute;
  bottom: 3em;
  right: 1em;
  box-shadow: 8px 10px 8px -4px $color-lightgrey;
}

h2 {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.25em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: $color-lightergrey;
  border-radius: 10px;
  color: $color-darkgrey;
}

h4 {
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: $color-grey;
  border-top: 2px solid $color-lightgrey;
}

.remove_bullets {
  list-style: none;
}

.cart-qtd {
  height: 3em;
  align-items: center;
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10em;
}

.add-remove-button {
  background-color: inherit;
  height: 1em;
  border-radius: 0;
  box-shadow: none;
  padding: 0px;
}

.text-align-left {
  margin-left: 2em;
  text-align: left;
}
