.App {
  text-align: center;
  height: 100vh;
  background-color: lightgray;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin-bottom: 1em;
    width: 60vw;
    border-radius: 4px;
    border: 1px solid #dedfe4;
  }

  button {
    border-radius: 20px;
    margin: 1em;
    border: 1px solid #dedfe4;
    background-color: #f4f4f4;
    padding: 0.5em;
  }
}

.bottom-button {
  border-radius: 20px;
  border: 1px solid #ff971d;
  background-color: #fff8f8;
  width: 30%;
  position: absolute;
  bottom: 1em;
}
