$color-lightgrey: #dedfe4;

.footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 0px;
  padding: 0.5em;
  margin-top: 2em;
  background-color: $color-lightgrey;
  color: black;
  font-size: smaller;
  small {
    font-size: xx-small;
    width: 35%;
    margin: 0;
  }
}
.person-group {
  display: flex;
  flex-direction: row;
  width: 65%;
  small {
    font-size: xx-small;
  }
}
.person {
  display: flex;
  flex-direction: row;
  justify-content: end;
  border-left: thin;
  font-size: smaller;
  margin-left: 0.5em;
  width: 100%;
  small {
    width: 70%;
  }
}

.logos {
  align-items: center;
  width: 30%;
}

.social-media-logo {
  max-width: 1.3em;
}
