$color-lightergrey: #f9f6f7;
$color-lightgrey: #dedfe4;
$color-grey: #8e8b8c;

.meal-list {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.meals-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
  .img-container {
    text-align: start;
    img {
      width: 20em;
      border-radius: 20px;
      margin-bottom: 0;
    }
    small {
      margin-left: 1em;
      margin-bottom: 0;
    }

    button {
      width: 2em;
      border-radius: 5px;
      padding: 0.2em;
      margin-left: 1em;
    }
    small {
      position: relative;
      bottom: 0em;
      left: 0em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }
  .meal-info {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: auto 0.5;
    margin-bottom: 0;
    border-bottom: 1px solid $color-lightgrey;
    padding-bottom: 1em;

    .name-price {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 1.5em;
      align-items: center;
    }
    .ingredients {
      margin: 0 2em;
      font-size: small;
      color: $color-grey;
    }
  }
}
