$color-lightergrey: #f9f6f7;
$color-white: #fff;

.show-all-button {
  margin-top: 0;
  margin-bottom: 3em;
  width: 40%;
}

.second-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.5em 2em;
  background-color: $color-lightergrey;
  border-radius: 4px;
  .category-button {
    // max-width: 30%;
    background-color: $color-white;
    border: none;
    margin: 0.3em;
  }
  .category-image {
    max-width: 100%;
  }
}
