$color-lightergrey: #f9f6f7;
$color-white: #fff;
$color-darkgrey: #545253;

.home-section-overview {
  padding: 1em;
  img {
    max-width: 30%;
  }
  div {
    padding-top: 1em;
    padding-bottom: 3em;
  }
}

.home-section-we-you {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-we-you {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5em;
  width: 45%;
  margin: 0.5em;
  background-color: $color-lightergrey;
  border-radius: 4px;
  h4 {
    margin: 0;
    border: none;
  }
}

.home-steps {
  width: 100%;
  height: 90%;
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.we-you-card {
  background-color: $color-white;
  border-radius: 4px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  margin: 0.3em;
  width: 100%;
  height: 6em;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.1em;
  small {
    background-color: red;
    margin: 0auto;
    width: 100%;
    padding: 0;
    top: 0.5em;
  }
  img {
    width: 3em;
    bottom: 0em;
  }
}

.home-section-3 {
  margin-bottom: 5em;
}
