$color-lightergrey: #f9f6f7;
$color-white: #fff;
$color-darkgrey: #545253;

.home {
  height: 100%;
  margin-bottom: 2rem;
}

.home-section-overview {
  padding: 1em;
  line-height: 2em;
  img {
    max-width: 25em;
    border-radius: 15px;
  }
  div {
    background-image: url('https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80');
    background-size: cover;
    border-radius: 15px;
    padding-top: 1em;
    padding-bottom: 3em;
    @media screen and (min-width: 400px) {
      font-size: 2em;
    }
  }
}

.home-section-we-you {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-we-you {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 0.5em;
  width: 45%;
  margin: 0.5em;
  background-color: $color-lightergrey;
  border-radius: 4px;
  h3 {
    margin: 0;
    border: none;
  }
}

.home-steps {
  width: 100%;
  height: 90%;
  margin: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.we-you-card {
  background-color: $color-white;
  border-radius: 4px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  margin: 0.3em;
  width: 100%;
  height: 6em;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.1em;
  small {
    font-size: x-small;
    width: 100%;
    margin: 0;
    top: 0.5em;
  }
  img {
    width: 3em;
    bottom: 0em;
  }
}

.see-freezer {
  margin-bottom: 3em;
}
