$color-darkblue: #5a8ca1;
$color-blue: #69ddf6;
$color-lightergrey: #f9f6f7;
$color-lightgrey: #dedfe4;
$color-grey: #8e8b8c;
$color-darkgrey: #545253;
$color-white: #fff;

// admin-functions

.single-meal-container {
  position: relative;
  margin: 3em 1.5em;
  border-radius: 20px;
  background-color: $color-lightergrey;
  border-bottom: 1px solid $color-lightgrey;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 77vh;
  font-size: small;

  img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 0;
  }
  .meal-body {
    margin: 0 2em;
    text-align: left;
    ul {
      margin-top: 0em;
    }
  }
}
.name-rating {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h2 {
    justify-content: start;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 40%;
  }
}

small {
  position: relative;
  padding: 0;
  margin: 0;
  bottom: 0em;
  left: 0em;
  margin-left: 1em;
  margin-bottom: 0;
}

.cart-functions {
  position: absolute;
  width: 100%;
  bottom: 0.2em;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .cart-update {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    button {
      background-color: $color-lightgrey;
      border: 1px solid $color-blue;
      box-shadow: 8px 10px 8px -4px $color-lightgrey;
      height: 3em;
      width: 10em;
    }
  }
}

.cart-qtd {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: $color-lightgrey;
  font-size: small;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  height: 2em;
  width: 5em;
  font-size: small;
  padding: 0;
  margin: 0;

  .add-rem {
    position: relative;
    display: flex;
    bottom: 1.5em;
    background-color: inherit;
    height: 1em;
    border-radius: 0;
    box-shadow: none;
    padding: 0px;
  }
}
