$color-blue: #a8c6d3;

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $color-blue;
  font-size: small;
  font-weight: 600;

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30%;
    margin: 1em;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    border: 0;
  }
  img {
    width: 2em;
    height: 2em;
    margin: 0.5em;
  }
}
