$color-blue: #69ddf6;
$color-lightgrey: #dedfe4;
$color-darkblue: #5a8ca1;

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $color-blue;
  font-size: small;
  font-weight: 600;
  box-shadow: 8px 10px 8px -4px $color-lightgrey;
  border-bottom: 1px solid white;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
}

.profile {
  padding-right: 1em;
}

.logo {
  height: 2em;
  margin: 0.5em;
}

.shopping-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 1em;
}
